
<div id="goalForm" class="row" style="display: none">

<%= simple_form_for([@project, @project.goals.build]) do |f| %>

<% ref_id = goal_ref(@project.id) %>

<div class="form-inputs">
  <%= f.input :reference, input_html: {value: ref_id || 'AA'}, :wrapper => :full_input  %>
</div>
  <div class="form-inputs">
    <%= f.input :problem, :wrapper => :full_input %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>

  </div>
      <br><br>
      <a href="#" onclick="endGoal()">Cancel</a>
  <% end %>

</div>
